<!DOCTYPE html>
<html lang="en" ng-app="agroTimeApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <title>Charts &amp; Statistics | Melon - Flat &amp; Responsive Admin Template</title>

        <!--=== CSS ===-->

        <!-- Bootstrap -->
        <link href="resources/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

        <!-- jQuery UI -->
        <!--<link href="resources/plugins/jquery-ui/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css" />-->
        <!--[if lt IE 9]>
                <link rel="stylesheet" type="text/css" href="resources/plugins/jquery-ui/jquery.ui.1.10.2.ie.css"/>
        <![endif]-->

        <!-- Theme -->
        <link href="resources/assets/css/main.css" rel="stylesheet" type="text/css" />
        <link href="resources/assets/css/plugins.css" rel="stylesheet" type="text/css" />
        <link href="resources/assets/css/responsive.css" rel="stylesheet" type="text/css" />
        <link href="resources/assets/css/icons.css" rel="stylesheet" type="text/css" />

        <link rel="stylesheet" href="resources/assets/css/fontawesome/font-awesome.min.css">
        <!--[if IE 7]>
                <link rel="stylesheet" href="resources/assets/css/fontawesome/font-awesome-ie7.min.css">
        <![endif]-->

        <!--[if IE 8]>
                <link href="resources/assets/css/ie8.css" rel="stylesheet" type="text/css" />
        <![endif]-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

        <!--=== JavaScript ===-->

        <script type="text/javascript" src="resources/assets/js/libs/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="resources/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js"></script>

        <script type="text/javascript" src="resources/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="resources/assets/js/libs/lodash.compat.min.js"></script>

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
                <script src="resources/assets/js/libs/html5shiv.js"></script>
        <![endif]-->

        <!-- Smartphone Touch Events -->
        <script type="text/javascript" src="resources/plugins/touchpunch/jquery.ui.touch-punch.min.js"></script>
        <script type="text/javascript" src="resources/plugins/event.swipe/jquery.event.move.js"></script>
        <script type="text/javascript" src="resources/plugins/event.swipe/jquery.event.swipe.js"></script>

        <!-- General -->
        <script type="text/javascript" src="resources/assets/js/libs/breakpoints.js"></script>
        <script type="text/javascript" src="resources/plugins/respond/respond.min.js"></script> <!-- Polyfill for min/max-width CSS3 Media Queries (only for IE8) -->
        <script type="text/javascript" src="resources/plugins/cookie/jquery.cookie.min.js"></script>
        <script type="text/javascript" src="resources/plugins/slimscroll/jquery.slimscroll.min.js"></script>
        <script type="text/javascript" src="resources/plugins/slimscroll/jquery.slimscroll.horizontal.min.js"></script>

        <!-- Page specific plugins -->
        <!-- Charts -->
        <!--[if lt IE 9]>
                <script type="text/javascript" src="resources/plugins/flot/excanvas.min.js"></script>
        <![endif]-->
        <script type="text/javascript" src="resources/plugins/sparkline/jquery.sparkline.min.js"></script>
        <script type="text/javascript" src="resources/plugins/flot/jquery.flot.min.js"></script>
        <script type="text/javascript" src="resources/plugins/flot/jquery.flot.tooltip.min.js"></script>
        <script type="text/javascript" src="resources/plugins/flot/jquery.flot.resize.min.js"></script>
        <script type="text/javascript" src="resources/plugins/flot/jquery.flot.time.min.js"></script>
        <script type="text/javascript" src="resources/plugins/flot/jquery.flot.orderBars.min.js"></script>
        <script type="text/javascript" src="resources/plugins/flot/jquery.flot.pie.min.js"></script>
        <script type="text/javascript" src="resources/plugins/flot/jquery.flot.selection.min.js"></script>
        <script type="text/javascript" src="resources/plugins/flot/jquery.flot.growraf.min.js"></script>
        <script type="text/javascript" src="resources/plugins/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

        <script type="text/javascript" src="resources/plugins/daterangepicker/moment.min.js"></script>
        <script type="text/javascript" src="resources/plugins/daterangepicker/daterangepicker.js"></script>
        <script type="text/javascript" src="resources/plugins/blockui/jquery.blockUI.min.js"></script>

        <!-- App -->
        <script type="text/javascript" src="resources/assets/js/app.js"></script>
        <script type="text/javascript" src="resources/assets/js/plugins.js"></script>
        <script type="text/javascript" src="resources/assets/js/plugins.form-components.js"></script>

        <script>
            $(document).ready(function () {
                "use strict";

                App.init(); // Init layout and core plugins
                Plugins.init(); // Init all plugins
                FormComponents.init(); // Init all form-specific plugins
            });
        </script>

        <!-- Demo JS -->
        <script type="text/javascript" src="resources/assets/js/custom.js"></script>
        <script type="text/javascript" src="resources/assets/js/demo/charts.js"></script>

        <!-- Aplicação Angular -->
        <script src="resources/angular/angular.min.js"></script>
        <script src="resources/angular/angular-ui-router.min.js"></script>

        <!-- Aplicação Angular -->
        <script src="app/app.js"></script>
        <script src="app/buscaperiodica/controller.js"></script>
        <script src="app/buscaperiodica/services.js"></script>
    </head>

    <body class="breakpoint-1200 theme-dark">

        <!-- Header -->
        <header class="header navbar navbar-fixed-top" role="banner">
            <!-- Top Navigation Bar -->
            <div class="container">

                <!-- Only visible on smartphones, menu toggle -->
                <ul class="nav navbar-nav">
                    <li class="nav-toggle"><a href="javascript:void(0);" title=""><i class="icon-reorder"></i></a></li>
                </ul>

                <!-- Logo -->
                <a class="navbar-brand" href="index.html">
                    <img src="resources/assets/img/logo_1.png" alt="logo" />
                    <strong>AGRO</strong>TIME
                </a>
                <!-- /logo -->

                <!-- Sidebar Toggler -->
                <a href="#" class="toggle-sidebar bs-tooltip" data-placement="bottom" data-original-title="Toggle navigation">
                    <i class="icon-reorder"></i>
                </a>
                <!-- /Sidebar Toggler -->

                <!-- Top Left Menu -->
                <ul class="nav navbar-nav navbar-left hidden-xs hidden-sm">
                    <li>
                        <a href="#">
                            Ajuda
                        </a>
                    </li>
                </ul>
                <!-- /Top Left Menu -->

                <!-- Top Right Menu -->
                <ul class="nav navbar-nav navbar-right">
                    <!-- User Login Dropdown -->
                    <li class="dropdown user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-male"></i>
                            <span class="username">João Rafael</span>
                            <i class="icon-caret-down small"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="login.html"><i class="icon-key"></i> Sair</a></li>
                        </ul>
                    </li>
                    <!-- /user login dropdown -->
                </ul>
                <!-- /Top Right Menu -->
            </div>
            <!-- /top navigation bar -->
        </header> <!-- /.header -->

        <div id="container">
            <div id="sidebar" class="sidebar-fixed">
                <div id="sidebar-content">

                    <!--=== Navigation ===-->
                    <ul id="nav">
                        <li >
                            <a href="index.html">
                                <i class="icon-home"></i>
                                Início
                            </a>
                        </li>

                        <li >
                            <a href="temperatura.html">
                                <i class="icon-fire"></i>
                                Temperatura Diária
                            </a>
                        </li>

                        <li class="current">
                            <a href="consultas.html">
                                <i class="icon-search"></i>
                                Consultas Periódicas
                            </a>
                        </li>
                    </ul>
                    <!-- /Navigation -->
                </div>
                <div id="divider" class="resizeable"></div>
            </div>
            <!-- /Sidebar -->

            <div id="content" ng-controller="buscaPeriodicaController">
                <div class="container">
                    <!-- Breadcrumbs line -->
                    <div class="crumbs">
                        <ul id="breadcrumbs" class="breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a href="index.html">Início</a>
                            </li>
                            <li class="current">
                                <a href="calendar.html" title="">Consultas Periódicas</a>
                            </li>
                        </ul>
                        
                        <ul class="crumb-buttons" id="statusprocess" >
                            <li style="margin-top: 10px; border: none;">
                                <img width="132" src="resources/assets/img/ajax-loader.gif" alt="logo" />
                            </li>
                        </ul>
                    </div>
                    <!-- /Breadcrumbs line -->

                    <!--=== Page Header ===-->
                    <div class="page-header">
                        <div class="page-title">
                            <h3>Consultas Periódicas</h3>
                            <span>Realize uma consulta probabilística de variáveis do tempo em um periodo do ano.</span>
                        </div>
                    </div>
                    <!-- /Page Header -->

                    <!--=== Filled Charts ===-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="widget box">
                                <div class="widget-header">
                                    <h4><i class="icon-reorder"></i> Parametros da Consulta</h4>
                                </div>
                                <div class="widget-content">
                                    <form class="form-horizontal row-border">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Intervalo de Meses</label>
                                            <div class="col-md-10">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <select class="form-control" name="select" ng-model="mesInicio">
                                                                <option value="01">Janeiro</option>
                                                                <option value="02">Fevereiro</option>
                                                                <option value="03">Março</option>
                                                                <option value="04">Abril</option>
                                                                <option value="05">Maio</option>
                                                                <option value="06">Junho</option>
                                                                <option value="07">Julho</option>
                                                                <option value="08">Agosto</option>
                                                                <option value="09">Setembro</option>
                                                                <option value="10">Outubro</option>
                                                                <option value="11">Novembro</option>
                                                                <option value="12">Dezembro</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-4" style="width: 70px; text-align: center; margin-top: 5px;">
                                                            até
                                                        </div>
                                                        <div class="col-md-4">
                                                            <select class="form-control" name="select" ng-model="mesFim" >
                                                                <option value="01">Janeiro</option>
                                                                <option value="02">Fevereiro</option>
                                                                <option value="03">Março</option>
                                                                <option value="04">Abril</option>
                                                                <option value="05">Maio</option>
                                                                <option value="06">Junho</option>
                                                                <option value="07">Julho</option>
                                                                <option value="08">Agosto</option>
                                                                <option value="09">Setembro</option>
                                                                <option value="10">Outubro</option>
                                                                <option value="11">Novembro</option>
                                                                <option value="12">Dezembro</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>

                                        
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Variáveis</label>
                                            <div class="col-md-10">
                                                <label class="checkbox-inline">
                                                        <input type="checkbox" class="uniform" ng-model="variaveis.temperatura"> Temperatura
                                                </label>
                                                <label class="checkbox-inline">
                                                        <input type="checkbox" class="uniform" ng-model="variaveis.velocidadeVento"> Velocidade do Vento
                                                </label>
                                                <label class="checkbox-inline">
                                                        <input type="checkbox" class="uniform" ng-model="variaveis.alturaNuvens"> Alt. da base das nuvens na primeira camada 
                                                </label>
                                                <label class="checkbox-inline">
                                                        <input type="checkbox" class="uniform" ng-model="variaveis.coberturaNuvens"> Cobertura de nuvens
                                                </label>
                                                <label class="checkbox-inline">
                                                        <input type="checkbox" class="uniform" ng-model="variaveis.umidadeAr"> Umidade Relativa do Ar
                                                </label>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label class="col-md-2 control-label"></label>
                                            <div class="col-md-10">
                                                <button class="btn btn-info" ng-click="processBuscaPeriodica();">Processar</button>
                                            </div>
                                        </div>
                                        
                                        
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Filled Charts -->
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="widget box">
                                <div class="widget-header">
                                    <h4><i class="icon-reorder"></i> Temperatura</h4>
                                    <div class="toolbar no-padding">
                                        <div class="btn-group">
                                            <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-content">
                                    <div id="chart_temperatura" class="chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="widget box">
                                <div class="widget-header">
                                    <h4><i class="icon-reorder"></i> Velocidade do Vento</h4>
                                    <div class="toolbar no-padding">
                                        <div class="btn-group">
                                            <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-content">
                                    <div id="chart_velocidade_vento" class="chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- /.container -->

            </div>

        </div>
    </div>
</body>
</html>